body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
/* base */

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.content_Item {
  display: flex;
  gap: 125px;
  margin-top: 140px;
  margin-bottom: 140px;
}

.content_Block {
  max-width: 675px;
  margin-top: 140px;
}

.text_Block {
  flex-direction: column;
}

.about_Content {
  padding-left: 0;
  list-style-type: none;
  margin-top: 80px;
}

.about_Image {
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.about_Text > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.about_List {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  color: #091133;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6f7cb2;
}

.sub_Desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #5d6970;
}

.sub_Title {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #091133;
  display: block;
  margin-bottom: 6px;
}

.about_Icon {
  margin-bottom: 14px;
}

/* media */

@media (max-width: 1024px) {
  .content_Item {
    flex-direction: column;
  }

}

@media (max-width: 414px) {
  .mobile_Nav {
    display: block;
  }

  .desktop_Nav {
    display: none;
  }

  .mobile_Btn {
    display: block;
  }

  .desktop_Btn {
    display: none;
  }

  .footer_desc {
    line-height: 49px;
    font-size: 9px;
  }

  .a_list {
    gap: 22px;
  }

  .img_list {
    gap: 18px;
  }

  .about_Image {
    min-height: 500px;
    margin-bottom: -210px;
  }

  .content_Item {
    margin-top: 30px;
  }

  .content_Block {
    margin-bottom: -120px;
  }
}
