body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/landie/diz.png");
  background-repeat: no-repeat;
  background-position: right top;
}

/* base styles */

.content_Block {
  max-width: 445px;
}

/*  */

.content_Item {
  flex: 1;
  display: flex;
}

.mein_text {
  max-width: 539px;
  margin-top: 300px;
}

.mein_text > * {
  margin-bottom: 16px;
}

.mein_title {
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  color: #091133;
  letter-spacing: 1px;
}

.mein_desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #505f98;
}

.action_Buttons {
  display: flex;
  gap: 30px;
  margin-top: 64px;
}

/*  */
.present_text > * {
  margin-bottom: 16px;
}

.present_list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  gap: 30px;
  margin-top: 80px;
}
.present_icon1 {
  width: 36px;
  margin-bottom: 14px;
}
.present_icon2 {
  margin-bottom: 14px;
}

.present_item {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #5d6970;
}

.present_span {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #091133;
  display: block;
  margin-bottom: 6px;
}

.price {
  background-color: #f0f0f0;
}

.price_Section {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
}

.price_text {
  text-align: center;
  margin-top: 280px;
}

.price_title {
  margin-bottom: 16px;
}

.price_Desc {
  margin-bottom: 35px;
}

.price_span {
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  color: #222f65;
  letter-spacing: 1px;
}

.price_desc1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #37447e;
  margin-bottom: 40px;
}

.price_desc2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #5d6970;
  margin-bottom: 6px;
}
.price_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 172px;
}

/* media */

@media (max-width: 414px) {
  .mobile_Nav {
    display: block;
  }

  .desktop_Nav {
    display: none;
  }

  .mobile_Btn {
    display: block;
  }

  .desktop_Btn {
    display: none;
  }

  .footer_desc {
    line-height: 49px;
    font-size: 9px;
  }

  .a_list {
    gap: 22px;
  }

  .img_list {
    gap: 18px;
  }
}
