body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/landie/diz.png");
  background-repeat: no-repeat;
  background-position: right top;
}

/* base styles */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2px;
  background-color: #111b47;
  width: fit-content;
  text-align: center;
  padding: 4px 8px;
  min-width: 150px;
  height: 26px;
  border: 1px solid #111b47;
}

.btnAlternative {
  background-color: transparent;
  color: #111b47;
}

.btnEmail {
  width: 150px;
}

.btnPrice {
  width: 189px;
}

.btnFooter {
  width: 109px;
  min-width: 0;
  line-height: 18px;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6f7cb2;
  width: 100%;
}

/*  */

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
  overflow: hidden;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  color: #091133;
}

.headerWrapper {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav__list {
  display: flex;
  gap: 60px;
}

.nav__item {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.nav__link {
  text-decoration: none;

  color: #505f98;
}

.contentSection {
  display: flex;
  margin-bottom: 80px;
}

.contentItem {
  flex: 1;
  display: flex;
}

.mein__text {
  max-width: 539px;
  margin-top: 300px;
}

.mein__text > * {
  margin-bottom: 16px;
}

.mein__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  color: #091133;
  letter-spacing: 1px;
}

.mein__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #505f98;
}

.actionButtons {
  display: flex;
  gap: 30px;
  margin-top: 64px;
}

.beginner {
  margin-bottom: 400px;
}

/*  */
.present__text > * {
  margin-bottom: 16px;
}

.present__list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  gap: 30px;
  margin-top: 80px;
}
.present__icon1 {
  width: 36px;
  margin-bottom: 14px;
}
.present__icon2 {
  margin-bottom: 14px;
}

.present__item {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #5d6970;
}

.present__span {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #091133;
  display: block;
  margin-bottom: 6px;
}

.message {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.message__text > * {
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.social__text > * {
  margin-bottom: 16px;
}

.email {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.email__text > * {
  margin-bottom: 16px;
}

.price {
  background-color: #f0f0f0;
}

.priceSection {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
}

.price__text {
  text-align: center;
  margin-top: 280px;
}

.price__title {
  margin-bottom: 16px;
}

.priceDesc {
  margin-bottom: 35px;
}

.price__span {
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  color: #222f65;
  letter-spacing: 1px;
}

.price__desc1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #37447e;
  margin-bottom: 40px;
}

.price__desc2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #5d6970;
  margin-bottom: 6px;
}
.price__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 172px;
}

.footer {
  background-color: #e7ecff;
}

.footerSection {
  height: 216px;
}

.footer__content {
  margin-top: 61px;
}

.footer__text {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 68px;
  border-bottom: 1px solid #cdd1d4;
  padding-bottom: 47px;
}

.footer__desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #939ea4;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 32px;
}

.footer__link {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #929ecc;
}

.a__list {
  display: flex;
  gap: 60px;
}

.img__list {
  display: flex;
  gap: 30px;
}
/* media */

@media(max-width: 1024px) {
  .presentContent {
    flex-direction: column;
  }

  .message {
    flex-direction: column;
  }

  .social {
    flex-direction: column;
  }

  .email {
    flex-direction: column;
  }
}
